body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin-top: 0;
}
.form-container{
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}
input{
  width:400px;
  height: 30px;
  border-radius: 15px;
  padding-left: 5px;
}
.inner-container> div{
  margin: 0.4rem;
}
.button-submit{
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;

}
button{
  background-color: blue;
  color:white;
  border-radius: 10px;
  width: 80px;
  height: 25px;
}
@media screen and (max-width: 450px){
  input{
    width: 350px;
  }
  
}
@media screen and (max-width: 350px){
  input{
    width: 200px;
  }
  
}

